/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
web/assets/vendor
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml
.idea/sonarIssues.xml
.idea/atlassian-ide-plugin.xml
.idea/dbnavigator.xml
*.iws
.idea_modules/
puppet/environments/common
.vagrant
.idea/composerJson.xml
.idea/vagrant.xml
web/css
web/js
