{% extends 'base.html.twig' %}

{% block navbar %}
{% endblock %}

{% block body %}
    <div class="form-signin">
        {% block fos_user_content %}
        {% endblock %}
    </div>
{% endblock %}
